<!DOCTYPE html>
<html>
<head>
  <title>Registar</title>
</head>
<body>
  <h1>Registo de Utilizador</h1>

  <form action="/register" method="POST">
    <input type="text" name="username" placeholder="Nome de utilizador" required>
    <br>
    <input type="password" name="password" placeholder="Palavra-passe" required>
    <br>
    <button type="submit">Registar</button>
  </form>

  <p>Já tens conta? <a href="/login">Faz login aqui</a></p>
</body>
</html>
